  <main>
      <div class="container mar_con ">
          <div style="text-align:center;" > <h1 class="display-4" >About</h1> 
              <p class="px-5" style="text-align:center;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vero suscipit voluptatum eum molestias.<br> Sit accusamus officiis possimus consequatur corrupti maiores, minima vitae reiciendis</br> ad minus, facilis alias non beatae.</p>
           </div>

         <div class=" row row-cols-1 my-3">
            <div class="col">
              <div class="card mb-3 border-0 card_hover">
                <img src="img/about-1.jpg" class="about_img " alt="">
              </div>
            </div>
         </div>

         
      </div>
  </main>