<header>
    <div class="container my-5">
      <div class="carousel slide carousel-fade carousel-light" data-bs-ride="carousel" id="slider1" >
        <ol class="carousel-indicators">
          <li
            data-bs-target="#slider1"
            data-bs-slide-to="0"
            class="active"
          ></li>
          <li data-bs-target="#slider1" data-bs-slide-to="1"></li>
          <li data-bs-target="#slider1" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="img/1.jpg" alt="" class="d-block w-100 slideimage" />
            <div class="carousel-caption d-none d-md-block">
              <h2>Are You
                Ready for
                a New &
                Better You?</h2>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="img/2.jpg" alt="" class="d-block w-100 slideimage" />
            <div class="carousel-caption d-none d-md-block">
              <h2>Are You
                Ready for
                a New &
                Better You?</h2>
          </div>
          </div>
          <div class="carousel-item" data-bs-interval="6000">
            <img src="img/3.jpg" alt="" class="d-block w-100 slideimage" />
            <div class="carousel-caption d-none d-md-block">
              <h2>Are You
                Ready for
                a New &
                Better You?</h2>
          </div>
        </div>
        <a href="#slider1" class="carousel-control-prev" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#slider1" class="carousel-control-next" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    </header>

    <main>
      <div class="koyu_yüksek">
        <div class="container">
          <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">

            <div class="col">
              <div class="card mb-3 text-white text-center card_1">
                  <img src="img/cut-1.jpg" class="card-img-top card-image" alt="">
                  <div class="card-body">
                      <h5 class="card-title mt-3">Color</h5>
                      <p class="card-text">Describe your image here. Use catchy text to tell people the story behind the photo.</p>
                  </div>
              </div>
             </div>

             <div class="col">
              <div class="card mb-3 text-white text-center card_1">
                  <img src="img/cut-2.jpg" class="card-img-top card-image w-100" alt="">
                  <div class="card-body">
                      <h5 class="card-title mt-3">Cuts</h5>
                      <p class="card-text">Describe your image here. Use catchy text to tell people the story behind the photo.</p>
                  </div>
              </div>
             </div>

             <div class="col">
              <div class="card mb-3 text-white text-center card_1">
                  <img src="img/cut-3.jpg"class="card-img-top card-image" alt="">
                  <div class="card-body">
                      <h5 class="card-title mt-3">Styling</h5>
                      <p class="card-text">Describe your image here. Use catchy text to tell people the story behind the photo..</p>
                  </div>
              </div>
             </div>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <a href="services" class="btn btn-outline-light  btn-md py-2 px-5">View Services</a>
          </div>
        </div>
      </div>

      <section_1>
      <div class="container services_yüksek">
        <div class="header">
           <h2 class="display-2">Our Most</h2>
           <h2 class="display-2">Popular Service</h2>
        </div>
          <!-- Mevcut satır 12 bölümden ele alınır ve buna göre bir bölme işlemi yapılır -->
          <div class=" row row-cols-1 row-cols-md-2  my-3 border border-2 border-dark text-center">
            <div class="col" style="padding: 0px;">
              <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
              <div class="card border-0">
                <img src="img/services-1.jpg" class="card-image services_img_1" alt="">
              </div>
            </div>
            <div class="col align-self-center ">
               <h3 style=" font-family: 'Akshar', sans-serif;">Wash & Dry</h3>
               <p>1h</p>
               <p>$100</p>
               <a href="services" class="btn btn-outline-dark py-2 px-4">Book Now </a>
              
            </div>
          </div>
      </div>
      </section_1>

      
      <!-- <div class="bg-primary">
        <div class="container ">
          <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col align-self-center card_p">
                  <p class="fs-2" >The Best in</p>
                  <p class="fs-2">the World</p>
            </div>
            <div class="col align-self-center card_p ">
              <p class="fs-2" >''</p>
            </div>
            <div class="col align-self-center card_p">
              <p class="fs-2" >''</p>
            </div>
        </div>
      </div> -->

      <div>
        <div class="container-fluid">
          <div class="container header mb-4">
            <h5 > #Shear&Style</h5>
            <h2 class="display-4">Essential Looks & Products</h2>
          </div>
           
        <div class=" row row-cols-1 row-cols-lg-4 row-cols-md-2 my-3">
          <div class="col">
            <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
            <div class="card mb-3 border-0 card_hover">
              <img src="img/dresser-7.jpg" class="services_img_2" alt="">
            </div>
          </div>
          <div class="col">
            <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
            <div class="card mb-3 border-0 card_hover">
              <img src="img/dresser-2.jpg" class=" services_img_2" alt="">
            </div>
          </div>
          <div class="col">
            <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
            <div class="card mb-3 border-0 card_hover">
              <img src="img/dresser-6.jpg" class="services_img_2" alt="">
            </div>
          </div>
          <div class="col">
            <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
            <div class="card mb-3 border-0 card_hover">
              <img src="img/dresser-4.jpg" class=" services_img_2" alt="">
            </div>
          </div>
          <div class="col">
            <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
            <div class="card mb-3 border-0 card_hover">
              <img src="img/dresser-5.jpg" class=" services_img_2" alt="">
            </div>
          </div>
          <div class="col">
            <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
            <div class="card mb-3 border-0 card_hover">
              <img src="img/dresser-3.jpg" class=" services_img_2" alt="">
            </div>
          </div>
          <div class="col">
            <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
            <div class="card mb-3 border-0 card_hover">
              <img src="img/dresser-1.jpg" class=" services_img_2" alt="">
            </div>
          </div>
          <div class="col">
            <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
            <div class="card mb-3 border-0 card_hover">
              <img src="img/dresser-8.jpg" class=" services_img_2" alt="">
            </div>
          </div>
    
        </div>
      </div>
      </div>