<main>
        <div class="container">
            <div class="mar_con" style="text-align:center;" > <h1 class="display-4" >Our Services</h1>       
            </div>
         <div class="pt-5">
            <table class="table h5 text-center">
              <thead></thead>
              <tbody class="table-group-divider">
                <tr class="row row-cols-1 row-cols-lg-3">                 
                  <td class="card_hover col">Wash & Dry</td>
                  <td class="col">1 hr <br> $100</br></td>
                  <td class="col" ><a href="#" class="btn btn-dark  card_hover">Book Now</a></td>
                </tr>
                <tr class="row row-cols-1 row-cols-lg-3">               
                  <td class="card_hover col">Trim</td>
                  <td class="col">1 hr <br>$35 </br></td>
                  <td class="col"><a href="#" class="btn btn-dark card_hover">Book Now</a></td>
                </tr>
                <tr class="row row-cols-1 row-cols-lg-3">            
                  <td class="card_hover col">Cut & Blow Dry</td>
                  <td class="col">1 hr  <br>$50</br></td>
                  <td class="col"><a href="#" class="btn btn-dark  card_hover">Book Now</a></td>
                </tr>
              </tbody>
            </table> 
          </div>

          <div class="pt-5">
            <table class="table h5 text-center">
              <thead></thead>
              <tbody class="table-group-divider">
                <tr class="row row-cols-1 row-cols-lg-3" >                 
                  <td class="card_hover col">Single Process Color</td>
                  <td class="col">1 hr <br> $150</br></td>
                  <td class="col"><a href="#" class="btn btn-dark  card_hover">Book Now</a></td>
                </tr>
                <tr class="row row-cols-1 row-cols-lg-3">               
                  <td class="card_hover col">Highlights</td>
                  <td class="col">1 hr <br>$100 </br></td>
                  <td class="col"><a href="#" class="btn btn-dark card_hover">Book Now</a></td>
                </tr>
              </tbody>
            </table> 
          </div>

          <div class="pt-5">
            <table class="table h5 text-center">
              <thead></thead>
              <tbody class="table-group-divider">
                <tr class="row row-cols-1 row-cols-lg-3" >                 
                  <td class="card_hover col">Bridal Hair</td>
                  <td class="col">1 hr <br> $200</br></td>
                  <td class="col"><a href="#" class="btn btn-dark  card_hover">Book Now</a></td>
                </tr>
                
              </tbody>
            </table> 
          </div>

          <div class=" row row-cols-1 my-3">
            <div class="col">
              <!-- img-fluid ile width 100% yapılır ve 4 kolonluk genişlik kaplanır. -->
              <div class="card mb-3 border-0 card_hover">
                <img src="img/services-2.jpg" class="about_img " alt="">
              </div>
            </div>
         </div>
        </div>
    </main>
