<nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a href="index" class="navbar-brand">
          <img src="img/hairstyle (2).png" alt="" />
        </a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#mobile"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="mobile" class="offcanvas offcanvas-start">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Beauty Salon</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a href="/index" class="nav-link active">Home</a>
              </li>
              <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a href="/services" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
              </li>
            </ul>  
            <form class="d-flex ">
               <div class="mx-2">
                <a href="/users/login" class="btn btn-outline-dark btn-sm nav_but">
                 Log in </a>
                </div>
                <div>
                 <a href="/users/signup" class="btn btn-outline-dark btn-sm nav_but">
                  Sign up </a>
                </div>
            </form>
        </div>
      </div>
    </div>
    </nav>